/* general */
/* colors */
:root {
    --font-color: rgba(255, 255, 255, 0.4);
    --a-hover-color: white;
    --white: #ffffff;
    --green: #1DB954;
    --black: #000000;
    --grey: #313131;
    --dark-blue: #0f1016;
    --clear: rgba(0, 0, 0, 0.5);

    /* sizes */
    --nav-md-width-large: 250px;
    --nav-xs-width-large: 50px;
    --nav-min-height: 480px;
    --nav-bottom-height: 80px;
    --call-to-action-height: 100px;
    --footer-height: 100px;
    --playlist-remaining-height: 290px;
}
    
/* reset */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
    font-weight: bold;
}

.flex {
    display: flex;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

ul {
    list-style: none;
}

.menu-vertical {
    padding-left: 0;
}

.menu-inline li {
    display: inline-block;
}

.float {
    float: left;
}

a:hover,
a:active,
a:focus {
    color: white;
}

/* container */
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mid-container {
    width: 100%;
    height: calc(100% - var(--footer-height));
    overflow: hidden;
}

/* nav */
/* general */
nav {
    width: var(--nav-md-width-large);
    height: 100%;
    min-height: var(--nav-min-height);
    background-color: var(--black);
}

.nav-top {
    width: 100%;
    height: calc(100% - var(--nav-bottom-height));
    overflow: hidden;
}

.nav-bottom {
    width: 100%;
    height: var(--nav-bottom-height);
    padding-right: 20px;
    padding-left: 20px;
}

/* logo */
.logo {
    padding-left: 20px;
}

.logo-img {
    width: 65%;
    padding: 25px 0;
}

.logo-img-small {
    width: 35px;
    display: none;
}

/* nav-menu */
.nav-menu {
    padding-bottom: 10px;
}

.nav-menu li a {
    padding-left: 20px;
    padding-bottom: 8px;
}

.nav-menu-img {
    width: 35px;
    padding-right: 5px;
    vertical-align: middle;
}

.grey {
    fill: var(--font-color);
}

.nav-menu .menu-vertical .btn.active {
    color: var(--white);
    border-left: 3px solid var(--green);
}

.nav-menu-text {
    font-size: 0.8em;
}

/* playlist */
.playlist {
    height: calc(100% - var(--playlist-remaining-height));
    overflow-y: auto;
    padding-left: 20px;
}

.add-playlist h2 {
    font-size: 0.8em;
    padding: 5px 0;
    color: var(--white);
}

.add-playlist {
    padding-bottom: 10px;
    padding-left: 20px;
}

.add-playlist i {
    font-size: 2.5em;
    vertical-align: middle;
    padding-right: 10px;
}

.add-playlist-text {
    font-size: 0.9em;
}

.playlist li {
    padding: 10px 0;
    font-size: 0.8em;
}

/* nav-bottom */
.call-to-install {
    padding: 5px 0 10px;
    border-bottom: 1px solid var(--font-color);
}

.call-to-install .install-text{
    font-size: 0.8em;
    padding-left: 10px;
}

.call-to-install svg {
    width: 1em;
    vertical-align: middle;
}

.user {
    padding-top: 10px;
}

.user svg{
    width: 25px;
    vertical-align: middle;
    background-color: var(--font-color);
    border-radius: 50%;
}

.user a {
    color: var(--white);
}

/* main */
main {
    width: calc(100% - var(--nav-md-width-large));
    height: 100%;
    padding: var(--call-to-action-height) 20px 20px;
    overflow: auto;
    background-color: var(--dark-blue);
}

/* call to action */
.call-to-action-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - var(--nav-md-width-large));
    height: var(--call-to-action-height);
    justify-content: right;
    align-items: center;
    background-color: var(--clear);
    z-index: 1;
}

.call-to-action-bar a {
    display: block;
    margin-right: 30px;
    padding: 15px 45px;
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 30px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.call-to-action-bar a:hover,
.call-to-action-bar a:active,
 .upgrade-btn {
    font-size: 1em;
}

/* menu */
.menu-inline {
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.menu-inline li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
}

.menu-inline li a.active {
    border-bottom: 3px solid var(--green);
}

.menu-inline li {
    padding: 20px 10px;
}

/* home-page */
.tracklist-title {
    font-size: 1.5em;
    color: var(--white);
    padding-bottom: 20px;
}

.tracklist-subtitle {
    font-size: 0.8em;
    padding-bottom: 25px;
}

.tracklist-carousel {
    padding-bottom: 80px;
}

.album {
    padding: 25px 10px 0;
    width: calc(100% / 6);
    text-transform: capitalize;
}

.album-img {
    margin-bottom: 20px;
    position: relative;
}

.album .play-button {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: var(--a-hover-color);
}

.album-img:hover .play-button {
    display: flex;
    cursor: pointer;
}

.artists .album-img {
    border-radius: 50%;
    overflow: hidden;
}

.album-img img{
    width: 100%;
}

.album-text {
    text-align: center;
}

.album-text .title a{
    font-size: 1.2em;
    color: var(--white);
}

.album-text .title {
    padding-bottom: 10px;
}

.album-text .artist {
    font-size: 0.8em;
}


/* footer */
footer {
    height: var(--footer-height);
    width: 100%;
    background-color: var(--grey);
    justify-content: space-between;
}  

.track,
.options {
    /* width: var(--nav-md-width-large); */
    margin: 20px 5px;
}

.track,
.player,
.options {
    align-items: center;
}

.small-icon {
    font-size: 1.2em;
    margin: 0 10px;
}

.options .small-icon a {
    color: var(--white);
}

.hr-bar {
    height: 3px ;
    background-color: var(--font-color);
    border-radius: 3px;
}

/* track */

.track-image img {
    width: 50px;
}

.track-info {
    margin-left: 5px;
}

.track-info .title {
    font-size: 0.8em;
    color: var(--white);
}

.track-info .artist {
    font-size: 0.7em;
}


/* player */
.player {
    width: calc(100% - calc(var(--nav-md-width-large) * 2));
    flex-direction: column;
    justify-content: center;
}

.upper-player {
    align-items: center;
    padding-bottom: 10px;
}

.upper-player .small-icon {
    margin: 0 15px;
}

.upper-player a{
    color: var(--white);
}

.bottom-player {
    width: 70%;
    align-items: center;
}

.bottom-player .hr-bar {
    width: 100%;
}

.play.small-icon {
    font-size: 2em;
}

.timer {
    margin: 0 10px;
    font-size: 0.6em;
    color: var(--white);
}

/* options */

.volume {
    margin-left: 10px;
    width: 100px;
    height: 3px ;
    background-color: var(--font-color);
    border-radius: 3px;
}


/* responsive */

    /* max-width 1100px */
@media screen and (max-width: 1100px) {
    .tracklist-carousel {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .album {
        max-width: 198px;
        min-width: 98px;
        width: calc(100% / 4);
    }
}

/* max-width 700px */
@media screen and (max-width: 700px) {
    .album {
        width: calc(100% / 2);
    }
}

/* max-width 600px */
@media screen and (max-width: 600px) {
    nav {
        width: var(--nav-xs-width-large);
        padding-left: 0;
        text-align: center;
    }
    .logo-img,
    .nav-menu-text,
    .add-playlist,
    .playlist,
    .install-text,
    .user-text {
        display: none;
        text-align: center;
    }
    .logo {
        padding: 5px 5px 10px
    }
    .logo-img-small {
        display: inline-block;
    }
    .nav-menu li a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-menu li {
        padding-bottom: 8px;
    }
    .nav-menu .menu-vertical .btn.active {
        border-left: none;
    }
    
    .call-to-install {
        border: 0;
        text-align: center;
    }
    .nav-bottom {
        padding: 0;
    }

    main {
        width: calc(100% - var(--nav-xs-width-large));
    }
    .call-to-action-bar {
        width: calc( 100% - var(--nav-xs-width-large));
    }
}


