/* reset */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--light-grey);
}

/* general */
/* colors */
:root {
    --white: #ffffff;
    --green: #1DB954;
    --black: #000000;
    --light-grey: #B2B2B2;
    --grey: #313131;
    --dark-blue: #0f1016;
    --clear: rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */

.container {
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

header {
    width: 250px;
    height: 100%;
    background-color: var(--black);
}

.call-to-action-bar {
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(48, 129, 129, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: var(--clear);
}

main {
    width: calc(100% - 250px);
    height: 100%;
    background-color: khaki;
    padding-top: 120px;
    background-color: var(--dark-blue);
}

nav {
    height: 100px;
    width: 100%;
    background-color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--grey);
}  
